/*DO NOT REMOVE: USE IN ALL PAGES*/ 
#buttons {
    margin: 5px;
    text-align: center;
}
.but-brow {
    background-color:azure;
    border-radius: 5px;
    padding:10px;
    margin:10px;
}
.but-brow:hover{
    background-color:aliceblue;
}
footer {
    position: absolute;
    top:90%;
    left:37%;
}
/*END OF DNR*/
#card {
    background-color:azure;
    border-radius: 20px;
    padding:20px;
    margin: 30px;
    box-shadow: 0 0 15px 5px rgba(187, 208, 231, 0.7);
    position: absolute;
    display: flex;
}
.EXP-BOX {
    padding: 14px;
    margin: 5px;
    max-width: px;
    background-color: rgb(116, 196, 246);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}
.exp-box-context {
    margin-left: 5px;
}
.name-contest, .name-program, .name-expres {
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    background-color: lightskyblue;
}