/*DO NOT REMOVE: USE IN ALL PAGES*/ 
#card {
    background-color:azure;
    border-radius: 20px;
    padding:20px;
    margin: 30px;
    box-shadow: 0 0 15px 5px rgba(187, 208, 231, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction:column;
}
#buttons {
    margin: 5px;
    text-align: center;
}
.but-brow {
    background-color:azure;
    border-radius: 5px;
    padding:10px;
    margin:10px;
}
.but-brow:hover{
    background-color:aliceblue;
}
footer {
    position: absolute;
    top:95%;
    left:40%;
}
/*END OF DNR*/
img {
    width: 600px;
    margin: 20px;
}
.pro-name {
    padding: 14px;
    margin: 10px;
    max-width: px;
    background-color: rgb(116, 196, 246);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}